[Unit]
Description=Host metering service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Environment=LC_ALL=C.UTF-8
ExecStart=/usr/bin/host-metering daemon
ExecReload=/usr/bin/kill -HUP $MAINPID

Restart=always

[Install]
WantedBy=multi-user.target
