# Build / Release
dist/
vendor/
contrib/rpm/host-metering.spec
contrib/selinux/tmp/
contrib/selinux/host-metering.pp

# Coverage
coverage.*

# Binary
host-metering
dist/host-metering
node_modules

#dev
mocks/subscription-manager-*
mocks/consumer/
mocks/cpumetrics/
.devcontainer/docker-compose.local.yml
coverage.*